<% include ../../layouts/header %>

<div class="home">
    <div class="text-center">
        <a href="/test/login" class="btn btn-primary">Login</a>
        <a href="/test/register" class="btn btn-success">Register</a>
    </div>
</div>
<% include ../../layouts/footer %>