<% include ../../layouts/header %>


<div class="chat">
    <div class="container">
        <div>
            <b>Hi, <%= userAuth.fullname %></b>
            <a href="/test/logout">Log out</a>
        </div>
        <br>
        <h4>Chat Groups</h4>
    </div>
</div>


<% include ../../layouts/footer %>